* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body,
header {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.background {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: -1;
}

.intro {
    color: #d6c32d;
    left: 0;
    margin-top: -100px;
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;
}

.left-line-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: #000000;
    z-index: 99;
}

.left-line-out:after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    z-index: 99;
}

.left-line-out:hover:after {
    width: 100%;
    background: #000000;
    z-index: 99;
}

.name {
    font-size: 38px;
    color: #000000;
    font-weight: 600;
}

.subtitle {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.button-links {
    color: black;
    left: 0;
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    font-weight: 600;
}

.button-link {
    padding-top: 5px;
    background-color: transparent;
    font-size: 18px;
    max-width: 550px;
}

.area-section {
    position: relative;
    height: 100%;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    z-index: 10;
}

.gradient {
    width: 100%;
    height: .5em;
    animation: gradient 25s infinite;
    z-index: 99;
    margin-top: 2px;
}

.icon-container {
    font-size: 2.0em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-mobile-alt,
.fa-comments,
.fa-book,
.fa-users {
    font-size: 2.0em;
}

.skills-desc {
    font-size: 1.125em;
}

.about-text {
    font-size: 1.17em;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: .6pc;
}

.line {
    width: 100px;
    margin: 0 auto;
    height: 3px;
    background-color: #eaaf1b;
}

.section-sub-heading {
    font-size: 1.12em;
    padding: .5pc;
}

.title-container {
    border: 3px solid #145A32;
    margin: 2pc auto;
    width: 70%;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.about-pic {
    width: 100%;
    margin: 20px auto;
}

.works-title {
    font-size: 1.3em;
    font-weight: 600;
    border-bottom: 2px solid #78b2d8;
    width: 170px;
    margin: 0 auto;
}

.work-pic {
    width: 100%;
    padding: 10px;
}

.work-description {
    font-size: 1.2em;
    margin-top: 10px;
    letter-spacing: .5px;
    padding: .3pc
}

.contact-info {
    width: 100%;
    margin-top: 120px;
    padding: 1pc;
    border: 1px solid;
    font-size: 1.3em;
}

.footer {
    margin-top: 20px;
}

.made {
    margin-top: 10px;
    font-size: .85em
}

.scroll-down {
    color: gold;
    font-size: 2em;
    position: relative;
    top: 45px;
}

a {
    color: inherit;
}

a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width:992px) {
    .about-text {
        font-size: 1.15em;
    }
}

@media only screen and (max-width:767px) {
    .contact-info {
        margin-top: 10px;
    }
}

@-webkit-keyframes gradient {
    0% {
        background: #145A32;
    }
    50% {
        background: #78b2d8;
    }
    100% {
        background: #F1C40F;
    }
}

@keyframes gradient {
    0% {
        background: #145A32;
    }
    50% {
        background: #78b2d8;
    }
    100% {
        background: #F1C40F;
    }
}
